<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Az_threshold" value="0.5"/>
	</appSettings>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="DronTcpBinding"
						 transferMode="Buffered"
                         maxReceivedMessageSize="2147483647"
                         sendTimeout="00:01:00"
                         receiveTimeout="00:10:00"/>
			</netTcpBinding>
		</bindings>
		<services>
   <service name="Service.DroneService">
    <endpoint address="ServiceDrone" binding="netTcpBinding" bindingConfiguration="DronTcpBinding"
     contract="Common.IDroneService" />
    <host>
     <baseAddresses>
      <add baseAddress="net.tcp://localhost:4002" />
     </baseAddresses>
    </host>
   </service>
  </services>
	</system.serviceModel>
</configuration>